/adler
/backtrace
/bitwise
/checksum
/float
/hton
/ip
/json.test
/json/types
/*.log
/maths/maths
/maths/matrix
/matrix
/md[245]
/options
/point
/pool
/random
/rand/buckets
/range
/region
/ripemd
/sha[12]
/signal
/stringid
/*.trs
/version
