/adler
/backtrace
/bitwise
/checksum
/float
/hton
/ip
/json.test.actual
/json/types
/*.log
/maths/maths
/matrix
/md[245]
/options
/point
/pool
/rand
/range
/region
/ripemd
/sha[12]
/signal
/stringid
/*.trs
/version
