/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
.deps/
.dirstamp
/Doxyfile
/install-sh
/ip.cpp
/json-clean
/json.cpp
/json-schema
/json-validate
/libgim-*.tar.*
.libs
/libtool
/ltmain.sh
Makefile
Makefile.in
/missing
/stamp-h1
/test-driver
/version.cpp
